*, *::after, *::before {
    box-sizing: border-box
}

body {
    margin:0 auto;
    width: 100%;
    height: 800px;
    text-align:center;
}
.container{
    margin: 0 auto;
    padding-left: 10%;
    border-left: 1px solid dodgerblue;
    display: inline-block;
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    line-height: 40px;
    font-size: 1.5em;
    text-align: left;
}

p {
    margin:0 auto;
    text-align: left;
    font-size: .75em;
    line-height: 1.75em;
}

.pdiv {
    text-align: center;
}

.pfixed {
    text-align:center;
}
.relative {
    display: inline-block;
}

.fixed {
    height:15%;
    width: 12.5%;
    position: fixed;
    left: 30.15%;
    top: 0%;
    padding-top: 1.5%;
    background-color: rgb(200, 200, 200);   
    text-align: center;
}

.absolute {
    display: inline-block;
}