*, *::after, *::before {
    box-sizing: border-box
}

.container {
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    left: 40px;
}

header {
    line-height: 15%;
    font-size: 2em;
    text-align: left;
    position: absolute;
    left: 40px;
}