*,*::after, *::before {
    box-sizing: border-box
}

body {
    margin:0 auto;
    width: 100%;
    height: 1000px;
    text-align:center;
}

.container{
    margin: 0 auto;
    padding-left: 10%;
    border-left: 1px solid dodgerblue;
    display: inline-block;     /* ??? somehow centers tet in this element see codepen*/
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    line-height: 40px;
    font-size: 1.5em;
    text-align: left;
}

p {
    margin:0 auto;
    text-align: left;
    font-size: .75em;
    line-height: 1.85em;
}

.pdiv {
    text-align: center;
    font-size: 1em;
}

.pfixed {
    text-align:center;
    font-size: 1em;
}
.fixed {
    height:15%;
    width: 12.5%;
    position: fixed;
    left: 30.15%;
    top: 0%;
    padding-top: 1.5%;
    background-color: rgb(200, 200, 200);   
    text-align: center;
}

.prelative {
    text-align:center;
    font-size: 1em;
}

.relative {
    display: inline-block;
    background-color: rgb(200, 200, 200);
    padding-top: 20px;
    width: 100%;
    height:150px;
    position:relative;
    top: 10px;
    margin-bottom:15px;
    text-align:center;
    font-size: 1em;
}

.pabsolute {
    text-align:center;
    font-size: 1em;
}

.absolute {
    display: inline-block;
    position: absolute;
    right: -40px;
    bottom: 0;
    padding-top: 10px;
    background-color: #999;
    width: 50%;
    height:75px;
    scroll-padding-top: 20px;
}